<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div>
        {{if .MembersPost.CookieChecker}}
        <a href="/">Home</a>
        <a href="/logout">Log Out</a>
        {{else}}
        <a href="/">Home</a>
        <a href="/log">Login</a>
        <a href="/register">Register</a>
        {{end}}
        <a href="/new-post">Create a new post</a>
    </div>
    <div>
        {{.PostingDisplay.postText}}
        {{.}}
        <br>
        {{end}}

    </div>

</body>

</html>