<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <form method="POST" action="/register">
        <h1>Login</h1>
        <div>
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <input type="submit" id="submit" value="Submit">
        </div>
        </form>

        <div>
            <p>New User?</p>
            <a href="http://localhost:8080/register">Register Here</a>
        </div>
    
</body>

</html>