<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <form method="POST" action="/registration">
        <h1>Register</h1>
        <div>
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="username">Enter your username:</label>
            <input type="text" id="username" name="username" required pattern=".*\S+.*" minlength="3">
        </div>
        <br>
        <div>
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" required pattern=".*\S+.*" minlength="8">
        </div>
        <br>
        <div>
            <input type="submit" id="submit" value="Submit">
        </div>

        {{if .RegistrationAttempted}}
        {{if .SuccessfulRegistration }}
        <p>You have successfully registered. Please <a href="/log">Log in</a></p>
        
        {{else if .failedRegister }}
        <p>The email or username is already in use. Please try again</p>
        {{end}}{{end}}

    </form>
</body>

</html>