<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <div>
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email">
    </div>
    <br>
    <div>
        <label for="username">Enter your username:</label>
        <input type="text" id="username" name="username">
    </div>
    <br>
    <div>
        <label for="password">Enter your password:</label>
        <input type="password" id="password" name="password">
    </div>
    <br>
    <div>
        <input type="submit" id="submit" value="Submit">
    </div>
</body>

</html>